body, html {
    height: 100%;
}

body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin:0;
    padding-top: 50px;
}

/*gets rid of white bar between navbar and next section/div/container*/
.navbar {
	margin-bottom: 0;
}

.jumbotron{
	background-image: url("https://embed.widencdn.net/img/veritas/qqx8wphp3r/1200x630px/spine-cancer-cervical-region.jpeg?u=at8tiu&use=d502n&k=c");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}

/*styles horizontal line break*/
hr.style1{
	border-top: 1px solid #8c8b8b;
}

footer{
    padding:15px;
    margin:0;
    color: black;
    background-color: #ffffff;
    text-align: center;
    max-height: 15px;
}

