{% block body %}

{#	{% if session['logged_in']%}#}
		<form action="{{ url_for('add_comments', id=article.id) }}" class="form" method="post">
            {{form.hidden_tag()}}
			<label for="post">Reply:</label>
			<textarea class="form-control" rows="4" cols="50" name="reply_content"></textarea>
			<br>
			<input class="btn btn-primary" type="submit" value="submit">
			<br>
			<br>
		</form>
{#	{% else %}#}
{#	<p>You must be <a href="/login/">logged in</a> to post!</p>#}
{#	{% endif %}#}

{% endblock %}