{% extends 'header.html' %}

{% block body %}
    <div class="container">
        <h1>{{ article.title }}</h1>
        <small>Written by {{ article.author }} on {{ article.create_date }}</small>
        <hr>
        <div>
        {{ article.body | safe}}
        </div>
    </div>

    <br>
{#    add comment history and box#}
    <div class="container">
        {% include 'includes/comment_box.html' %}

        <ul class="list-group">
            {% for comment in comments %}
                <li class="list-group-item">{{ comment.comment }} posted by <strong>{{ comment.author }}</strong> on <strong>{{ comment.comment_date }}</strong>
                    <br>
                <a href="/edit_comment/{{ comment.id }}" class="btn btn-default center">Edit</a>
                <form action="{{ url_for('delete_comment', id=comment.id) }}" method="post" class="center">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete" class="btn btn-danger d">
                </form>
                </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}