{% extends 'header.html' %}

{% block body %}
{#main content html here#}
<div class="jumbotron">
  <div class="container ">
    <h1 class="headline">Back Hacks</h1>
    <p>A collaborate effort in understanding the back</p>
    <br>
      <a href="/mission/" class="btn btn-primary btn-lg" role="button">My Story</a>
  </div>
</div>

{#2nd container#}
<div class="container">
    {#chart practice code here#}
    <div id={{ chartID|safe }} class="chart" style="height: 100px; width: 500px"></div>
</div>
{#main content html ends here#}


<script>
	var chart_id = {{ chartID|safe }}
	var series = {{ series|safe }}
	var title = {{ title|safe }}
	var xAxis = {{ xAxis|safe }}
	var yAxis = {{ yAxis|safe }}
	var chart = {{ chart|safe }}
</script>


{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>#}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="../static/graph.js"></script>
{#Chart code ends here#}

{#<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}
{#<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>#}
{#<script src="//cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>#}
{#<script type="text/javascript">#}
{#    CKEDITOR.replace('editor')#}
{#</script>#}

{% endblock %}