{% extends "header.html" %}

{% block body %}
    <div class="container">
        <h2>My Story</h2>
        <p>Have low back issues for the past 3 years has taken a hit on the quality of my life. Frustrated with multiple
        visits to doctors with no real answers I had to take a different approach. After too many grey answers of surfing
        through multiple forums about the back I have tried many different techniques in the aiding of healing the lower back.
        Through this website I hope you can all can share your advice with all!</p>
        <br>
        <hr class="style1">
        <br>
        <h2>Our Mission!</h2>
        <p>Back problems is something that many deal with and not an easy puzzle to solve. But with collaborations
            from users around the world sharing ideas and their own experiences might be the key to really solving the puzzle of
        back problems. Think of this website as the ultimate resource to back injuries as there will be reviews of techniques. Hopefully
        other users will also input there reviews and experiences to help see which techniques really helped.</p>
    </div>
{% endblock %}